body{
 text-align: center;
 background-color: #faf3e0;
}

h1{
  font-size: 64px;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}
p{
  font-size:1.5rem;
  font-family: sans-serif;
}
.mt3{
  margin-top: 3rem;
}
/* NAVIGATION */
.nav-link{
  margin: auto 10px;
 font-family: 'Bebas Neue', cursive;
 font-size: 1.5rem;
}
.brand{
  font-size:1.5rem;
  font-family: 'Ubuntu',cursive;
    font-weight: bold;
}

/* Welcome */
#Welcome{
  margin-top: 6rem;
}

.vid{
  border: solid black 2px;
}

/* testmonials */
#TestmoWord{
  margin-top: 10rem;
}
#Testmonials{
  background-color: #212529;
  position: relative;
  left:24rem;
  margin-top: 3rem;
  padding: 2rem 2rem;
 margin:0;
 width: 50%;
 height:30rem;
}
img{

}
#carouselExampleControls{
width:90%;
position:relative;
bottom: 1.5rem;
left: 2rem;
}
.carousel-item{

}
.carousel-inner{

}


/* FOOTER */
#footer {
  background-color: #1e212d;
  padding: 5% 10%;
  margin-top: 6rem;
}

.footer-p {
  position: relative;
  top: 60px;
  color: #faf3e0;
}

.i-footer {
  margin: 0 3%;
 color: #faf3e0;
}
/* PHONE VERSION */
@media (max-width: 995px) {


}
